body {
	font-family: 'Inter';
	margin: 0;
	background-color: #f6f7f8;
}

.arrow {
	width: 37px;
	height: 37px;
	padding: 2.5px 0px 0px 0px;
}

.title {
	max-width: 1014px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleText {
	width: 471px;
	height: 73px;
	font-size: 61px;
	font-weight: 700;
	text-align: left;
}

.main-content {
	word-wrap: break-word;
	max-width: 1000px;
	padding-right: 16px;
}
