body {
	margin: 0;
}

.relativeContainer {
	position: relative;
	height: 100vh;
}

.headerContainer {
	padding: 20px 40px 20px 348px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 4px 4px 0px #0000001a;
	position: fixed;
	z-index: 9998;
	right: 0;
	left: 0;
	background-color: white;
}

.headerText {
	width: 319px;
	height: 24px;
	font-size: 20px;
	font-weight: 400;
	height: 24px;
	text-align: left;
}

.headerIcons {
	gap: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.helpIcon {
	width: 32px;
	height: 32px;
	text-align: center;
}

.profilIcon {
	gap: 16px;
	cursor: pointer;
}

.inter-uniquifier {
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

.profilCircle {
	width: 56px;
	height: 56px;
	border: 3px 0px 0px 0px;
	position: relative;
	
}

.profilCircle:hover {
	background-image: url("../img/EllipseHover.png");
}

.profilName {
	position: absolute;
	top: 37.5%;
	left: 25%;
}

.smProfil {
	width: 27.94px;
	height: 14.24px;
	top: 16.88px;
	left: 10.03px;
}

.helpPng {
	width: 20px;
	height: 20px;
	top: 6px;
	left: 6px;
	cursor: pointer;
}

.helpPng:hover {
	scale: 115%;
}

.sidebar {
	width: 232px;
	height: 100vh;
	padding: 64px 0;
	background: #2a3647;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	z-index: 9999;
}

.menuIcons {
	width: 30px;
	height: 30px;
	margin-top: -5px;
}

.menuText {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: white;
}

.menuItem {
	height: 46px;
	padding: 8px 56px 8px 56px;
	gap: 8px;
	display: flex;
	text-align: center;
	align-items: center;
	cursor: pointer;
}

.menuBottomItem {
	height: 46px;
	padding: 8px 56px 8px 56px;
	gap: 8px;
}
.menuItem:hover {
	background-color: #4a5878;
}

.joinLogo {
	width: 100.3px;
	height: 121.97px;
	margin-left: 65.98px;
}

.menuBottom {
	padding-bottom: 64px;
}

.menuItems {
	padding-top: 58px;
}

.main-content {
	position: absolute;
	top: 96px;
	bottom: 0;
	right: 0;
	left: 232px;
	padding: 110px 0 0 96px;
	background-color: #f6f7f8;
}

.bluehover:hover {
	color: #0c8ce9;
	cursor: pointer;
}

a {
	text-decoration: none;
}

.circle {
	width: 56px;
	height: 56px;
	border: 3px solid #2a3647;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.initials {
	color: #29abe2;
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	background-color: white;
	cursor: pointer;
}

.initials:hover {
	background-color: rgba(12, 46, 98, 0.12);
}
