.main-content {
	background-color: #f6f7f8;
	display: flex;
	justify-content: flex-start;
}

.contactList {
	width: 464px;
	box-shadow: 4px 0px 6px 0px #00000014;
	/* margin-left: -96px; */
	margin-top: -20px;
	display: flex;
	justify-content: center;
	background-color: white;
	overflow-y: scroll;
}

.addContactsBtnDiv {
	width: 456px;
	height: 101px;
	padding: 22.5px 52px 22.5px 52px;
	gap: 10px;
	margin-top: 24px;
}

.addContactBtn {
	width: 352px;
	height: 56px;
	top: 22.5px;
	left: 52px;
	padding: 12px 0px 12px 0px;
	gap: 16px;
	border-radius: 10px;
	border: 1px 0px 0px 0px;
	background: #2a3647;
	border: 1px solid #2a3647;
	cursor: pointer;
}

.addContactBtn:hover {
	background-color: #0c8ce9;
	border: 1px solid #0c8ce9;
}

.addNewContactText {
	width: 175px;
	height: 25px;
	gap: 0px;
	font-family: Inter;
	font-size: 21px;
	font-weight: 700;
	line-height: 25.2px;
	text-align: left;
	color: #ffffff;
}

.addPersonToListIcon {
	width: 29.33px;
	height: 20.91px;
	margin-top: 4px;
	margin-left: 10px;
	color: #d9d9d9;
}

.listIniciale {
	padding: 17px 36px 17px 36px;
	gap: 8px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.firstCharacter {
	margin-left: 38px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #000000;
}

.contacts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.partingLineDiv {
	padding: 8px 0px 8px 0px;
	gap: 10px;
	margin-top: 12px;
	margin-bottom: 4px;
}

.listInitiale {
	margin-top: 8px;
}

.partingLine {
	/* width: 352px; */
	height: 0px;
	gap: 0px;
	border: 1px 0px 0px 0px;
	border: 1px solid #d1d1d1;
}

.contactCard {
	padding: 15px 24px 15px 24px;
	gap: 8px;
	border-radius: 10px;
	background: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.contactCard:hover {
	padding: 15px 24px 15px 24px;
	gap: 35px;
	border-radius: 10px;
	background: #f5f5f5;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.monogramCircle {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mongram {
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	text-align: center;
	color: white;
}

.contactDetails {
	gap: 5px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.contactName {
	width: 121px;
	height: 24px;
	gap: 0px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.contactMail {
	width: 140px;
	height: 19px;
	gap: 0px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: #007cee;
}

.contactsTitle {
	position: fixed;
	width: 569px;
	height: 73px;
	top: 206px;
	left: 743px;
	gap: 30px;
	display: flex;
	align-items: center;
}

.title {
	width: 274px;
	height: 73px;
	gap: 0px;
	font-family: Inter;
	font-size: 61px;
	font-weight: 700;
	line-height: 73.2px;
	text-align: left;
}

.blueLine {
	width: 0px;
	height: 59px;
	gap: 0px;
	border: 3px 0px 0px 0px;
	border: 3px solid #29abe2;
}

.subtitle {
	width: 235px;
	height: 32px;
	gap: 0px;
	font-family: Inter;
	font-size: 27px;
	font-weight: 400;
	line-height: 32.4px;
	text-align: left;
	white-space: nowrap;
}

.contactOverview {
	width: 461px;
	height: 364px;
	position: fixed;
	top: 311px;
	left: 750px;
	gap: 21px;
	background-color: #f6f7f8;
	margin-left: 3000px;
}

.contactOverviewTransition {
	transition: transform 0.35s ease-in-out;
	transform: translateX(-3000px);
}

.contactOverviewTransitionRemove {
	transition: transform 0.35s ease-in-out;
	transform: translateX(3000px);
}

.nameContainer {
	width: 461px;
	height: 120px;
	gap: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inicialeCircle {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inicial {
	font-family: Inter;
	font-size: 47px;
	font-weight: 500;
	line-height: 56.4px;
	text-align: center;
	color: #ffffff;
}

.editContactContainer {
	width: 287px;
	height: 88px;
	gap: 8px;
}

.name {
	width: 287px;
	height: 56px;
	gap: 5px;
	margin-bottom: 8px;
}

.fullname {
	width: 287px;
	height: 56px;
	gap: 0px;
	font-family: Inter;
	font-size: 47px;
	font-weight: 500;
	line-height: 56.4px;
	text-align: left;
	white-space: nowrap;
}

.changeButtonsContainer {
	width: 159px;
	height: 24px;
	gap: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.editButtonContainer {
	width: 62px;
	height: 24px;
	gap: 13px;
	cursor: pointer;
	display: flex;
}

.editButtonContainer:hover {
	width: 62px;
	height: 24px;
	gap: 13px;
	cursor: pointer;
	display: flex;
	filter: brightness(10%) saturate(220%) invert(51%) sepia(61%) saturate(7400%) hue-rotate(201deg)
		brightness(97%) contrast(88%);
}

.editIcon {
	width: 18.28px;
	height: 18.25px;
	gap: 0px;
	color: #2a3647;
}

.editText {
	width: 18.28px;
	height: 18.25px;
	gap: 0px;
	color: #2a3647;
}

.deleteButtonContainer {
	width: 81px;
	height: 24px;
	left: 78px;
	gap: 8px;
	cursor: pointer;
	display: flex;
}

.deleteButtonContainer:hover {
	width: 81px;
	height: 24px;
	left: 78px;
	gap: 8px;
	cursor: pointer;
	display: flex;
	filter: brightness(10%) saturate(220%) invert(51%) sepia(61%) saturate(7400%) hue-rotate(201deg)
		brightness(97%) contrast(88%);
}

.deleteIcon {
	width: 24px;
	height: 24px;
	gap: 0px;
	color: #2a3647;
	margin-top: -3px;
}

.deleteText {
	width: 49px;
	height: 19px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: #2a3647;
}

.contactInformationTitle {
	width: 207px;
	height: 74px;
	gap: 59px;
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contactInformation {
	width: 207px;
	height: 74px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-top: 23px;
	color: #2a3647;
}

.accessibility {
	width: 140px;
	height: 128px;
	gap: 22px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.mailDiv {
	width: 140px;
	height: 53px;
	gap: 15px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}

.mailAdressTitel {
	width: 43px;
	height: 19px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
	text-align: left;
}

.mailAdress {
	width: 140px;
	height: 19px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: #007cee;
}

/**add new contact window**/

.addNewContactContainer {
	width: 1212px;
	height: 592px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(300%, -50%);
	border-radius: 30px;
	z-index: 222222;
	background-color: white;
}

.addNewContactContainerTransition {
	transition: transform 0.5s ease-in-out;
	transform: translate(-50%, -50%);
}

.addNewContactContainerTransitionRemove {
	transition: transform 0.5s ease-in-out;
	transform: translate(300%, -50%);
}

.containerLeft {
	width: 467px;
	height: 590px;
	padding: 66px 48px 66px 48px;
	gap: 12px;
	background: #2a3647;
	border-radius: 30px 0px 0px 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.LogoContainerAddNewContact {
	width: 55.6px;
	height: 66.48px;
	margin-top: -24px;
}

.LogoAddNewContact {
	width: 55.6px;
	height: 66.48px;
	top: 154px;
	left: 46.9px;
}

.addNewContactTitle {
	width: 371px;
	height: 129px;
	gap: 16px;
}

.addContactText {
	width: 371px;
	height: 113px;
	gap: 8px;
}

.addContact {
	width: 366px;
	height: 73px;
	font-family: Inter;
	font-size: 61px;
	font-weight: 700;
	line-height: 73.2px;
	text-align: left;
	color: white;
	display: inline-block;
	margin-bottom: 12px;
}

.addContactSubtext {
	width: 371px;
	height: 32px;
	font-family: Inter;
	font-size: 27px;
	font-weight: 400;
	line-height: 32.4px;
	text-align: left;
	color: white;
}

.underLineBlue {
	width: 90px;
	height: 0px;
	border: 3px 0px 0px 0px;
	border: 3px solid #29abe2;
	margin-top: 16px;
}

.closeDiv {
	width: 32px;
	height: 32px;
	position: fixed;
	top: 48px;
	left: 1132px;
	padding: 4px 0px 0px 0px;
}

.closeButton {
	width: 24px;
	height: 24px;
	top: 4px;
	left: 4px;
	color: #2a3647;
	cursor: pointer;
}

.image {
	width: 120px;
	height: 120px;
	position: fixed;
	top: 204px;
	left: 550px;
	gap: 10px;
	border-radius: 70px 0px 0px 0px;
	border: 3px 0px 0px 0px;
}

.imageCircle {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #d1d1d1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addContactImage {
	width: 42.67px;
	height: 42.67px;
}

.inputFileds {
	position: fixed;
	width: 422px;
	height: 215px;
	top: 137px;
	left: 742px;
	gap: 32px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.nameInputContainer {
	width: 422px;
	height: 50px;
	padding: 13px 21px 13px 21px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	background-image: url('../img/Person.png');
	background-position: 380px;
	background-size: 24px;
	background-repeat: no-repeat;
}

.emailInputContainer {
	width: 422px;
	height: 50px;
	padding: 13px 21px 13px 21px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	background-image: url('../img/Mail.png');
	background-position: 380px;
	background-size: 22px;
	background-repeat: no-repeat;
}

.phoneInputContainer {
	width: 422px;
	height: 50px;
	padding: 13px 21px 13px 21px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	background-image: url('../img/call.png');
	background-position: 380px;
	background-size: 18px;
	background-repeat: no-repeat;
}

.nameEditContainer {
	width: 422px;
	height: 50px;
	padding: 13px 21px 13px 21px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	background-image: url('../img/Person.png');
	background-position: 380px;
	background-size: 24px;
	background-repeat: no-repeat;
}

.emailEditContainer {
	width: 422px;
	height: 50px;
	padding: 13px 21px 13px 21px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	background-image: url('../img/Mail.png');
	background-position: 380px;
	background-size: 22px;
	background-repeat: no-repeat;
}

.phoneEditContainer {
	width: 422px;
	height: 50px;
	padding: 13px 21px 13px 21px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	background-image: url('../img/call.png');
	background-position: 380px;
	background-size: 18px;
	background-repeat: no-repeat;
}

input::placeholder {
	width: 56px;
	height: 24px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: 5px;
	color: #d1d1d1;
}

.buttons {
	position: fixed;
	width: 364px;
	height: 57px;
	top: 400px;
	left: 742px;
	gap: 24px;
	display: flex;
	justify-content: space-between;
}

.cancelButtonContainer {
	width: 126px;
	height: 56px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	border: 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #2a3647;
	cursor: pointer;
}

.cancelButtonContainer:hover {
	width: 126px;
	height: 56px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	border: 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #2a3647;
	cursor: pointer;
	filter: brightness(10%) saturate(220%) invert(51%) sepia(61%) saturate(7400%) hue-rotate(201deg)
		brightness(97%) contrast(88%);
}

.deleteContainer {
	width: 126px;
	height: 56px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	border: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #2a3647;
	cursor: pointer;
}

.deleteContainer:hover {
	width: 126px;
	height: 56px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	border: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #007cee;
	cursor: pointer;
	filter: brightness(10%) saturate(220%) invert(51%) sepia(61%) saturate(7400%) hue-rotate(201deg)
		brightness(97%) contrast(88%);
}

.cancel {
	width: 66px;
	height: 24px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #2a3647;
}

.cancelIcon {
	width: 24px;
	height: 24px;
}

.createButtonContainer {
	width: 214px;
	height: 57px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	background: #2a3647;
	cursor: pointer;
}

.createButtonContainer:hover {
	width: 214px;
	height: 57px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	background: #007cee;
	border: none;
	cursor: pointer;
}

.saveButtonContainer {
	width: 126px;
	height: 57px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	background: #2a3647;
	border: none;
	cursor: pointer;
}

.saveButtonContainer:hover {
	width: 126px;
	height: 57px;
	padding: 16px;
	gap: 4px;
	border-radius: 10px;
	border: none;
	background: #007cee;
	cursor: pointer;
}

.create {
	width: 154px;
	height: 25px;
	font-family: Inter;
	font-size: 21px;
	font-weight: 700;
	line-height: 25.2px;
	text-align: left;
	color: #ffffff;
}

.createIcon {
	width: 15.49px;
	height: 11.22px;
	top: 22.88px;
	left: 178.26px;
	color: #ffffff;
}

.CreateResponseContainer {
	position: fixed;
	width: 326px;
	height: 74px;
	top: 660px;
	left: 740px;
	box-shadow: 0px 0px 4px 0px #0000001a;
	margin-left: 3000px;
}

.CreateResponseContainerTransition {
	transition: transform 0.35s ease-in-out;
	transform: translateX(-3000px);
}

.CreateResponseContainerTransitionRemove {
	transition: transform 0.35s ease-in-out;
	transform: translateX(3000px);
}

.CreateResponse {
	width: 326px;
	height: 74px;
	gap: 0px;
	border-radius: 20px;
	background: #2a3647;
	box-shadow: 0px 0px 4px 0px #00000026;
	display: flex;
	justify-content: center;
	align-items: center;
}

.response {
	width: 265px;
	height: 24px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
}

/*Responsiv*/

@media (max-width: 1250px) {
	.contactOverview {
		display: none;
	}

	.contactsTitle {
		display: none;
	}
}

@media (max-width: 500px) {
	.main-content {
		padding: 0;
	}
	.addContactsBtnDiv {
		width: 100%;
		padding: 22.5px 52px 22.5px 52px;
	}
	.addContactBtn {
		width: 100%;
		padding: 0px;
	}
	.addPersonToListIcon {
		width: 26.33px;
		height: 20.91px;
		margin-left: 5px;
		color: #d9d9d9;
	}
	.partingLine {
		width: 90%;
	}
	.contactList {
		width: 100%;
	}
}
