@media (max-width: 375px) {
 /* Eventuell benötigte Anweisungen für eine Breite von 375px */
}
@media (max-width: 430px) {
 .logo-icon {
   width: 64px !important;
   height: 78.03px !important;
   top: 37px !important;
   left: 38px !important;
   position: absolute;
 }
 .Website {
   height: 932px!important;
   width: 100%;
   margin: 0;
   overflow-x: hidden;
 }
 .guestlogIn-button, .logIn-button {
   padding: 15px 24px!important;
   width: 180px!important;
 }
 .logInField {
   width: 396px!important;
   height: 515px!important;
   margin-bottom: 27.5px!important;
   box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2)!important;
 }
 .log-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 21px;
   width: 180px;
   height: 123px;
 }
 .input, .input-container, .email, .password {
   width: 364px!important;
 }
 .input-container:last-child {
   margin-bottom: 0!important;
 }
 .email {
  box-shadow: none;
 }
 .top-right-container {  
   bottom: 20px; 
   height: 49px; 
   padding: 0px;
   top: 82vh;
   gap: 20px;
 }
 .password {
  height: 48px;
  width: 422px;

 }
 }
@media (max-width: 475px) {
 .logo-icon {
  width: 64px !important;
  height: 78.03px !important;
  top: 37px !important;
  left: 38px !important;
  position: absolute;
}
.Website {
  height: 932px!important;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.guestlogIn-button, .logIn-button {
  padding: 15px 24px!important;
  width: 180px!important;
}
.logInField {
  width: 396px!important;
  height: 515px!important;
  margin-bottom: 27.5px!important;
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2)!important;
}
.log-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21px;
  width: 180px;
  height: 123px;
}
.input, .input-container, .email, .password {
  width: 364px!important;
}
.input-container:last-child {
  margin-bottom: 0!important;
}
.email {
 box-shadow: none;
}
.top-right-container { 
  position: absolute; 
  bottom: 20px; 
  width: auto; 
  height: 49px; 
  padding: 0px;
  top: 82vh;
  gap: 20px;
}
.password {
 border: 1px solid rgb(232, 232, 232);
 border-radius: 10px;
 height: 48px;
 width: 422px;
 padding: 12px 21px;
 font-size: 20px;
}
.footer {
  bottom: 5px!important;
  position: absolute;
}
#privacyPolicy, #legalNotice {
  width: 121px!important;
}
}
@media (max-width: 525px) {
}
@media (max-width: 575px) {
}
@media (max-width: 625px) {
}
