.d-none {
	display: none;
}

h1 {
	font-weight: 700;
	font-size: 61px;
	margin-bottom: 48px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: 400;
	font-size: 20px;
}

input {
	font-size: 20px;
	width: 100%;
}

input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
}

textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 18px 16px;
	font-size: 20px;
}

.task-container {
	display: flex;
	gap: 48px;
}

.req-label::after {
	content: '*';
	color: red;
}

.task-col {
	max-width: 440px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	padding: 12px 16px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	position: relative;
	cursor: pointer;
}

.input-container img {
	position: absolute;
	right: 16px;
}

.input-container img:hover {
	background-color: lightgray;
	border-radius: 50%;
}

textarea:focus-visible {
	outline: none;
	border-color: #29abe2;
}

.input-container:focus-within {
	border-color: #29abe2;
}

/* left section */

.left-col {
	gap: 16px;
}

.assigned-to-container img {
	position: absolute;
	right: 16px;
	top: 8px;
}

#title-input,
#assigned-to,
#category,
#subtask {
	border: none;
}

#title-input:focus,
#assigned-to:focus,
#category:focus,
#subtask:focus {
	outline: none;
}

.d-flex-col {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
}

/* mid section */
.mid-line {
	height: 424px;
	border: 0.5px solid #d1d1d1;
}

/* right section */

.right-col {
	gap: 24px;
	margin-right: 96px;
}

#due-date {
	border: none;
	width: 100%;
	cursor: pointer;
}

.due-date-img:hover {
	background-color: white !important;
}

#due-date:focus {
	outline: none;
}

#prio-container {
	display: flex;
	gap: 16px;
	max-width: 440px;
}

.prio {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 10px;
	gap: 8px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	flex: 1;
	font-size: 20px;
	cursor: pointer;
}

.prio:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.m-0 {
	margin-bottom: 0;
}

/* button section */

.bottom-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 100px;
	margin-right: 96px;
}

.add-task-btns {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
}

button {
	border: 1px solid #2a3647;
	border-radius: 10px;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button img {
	width: 24px;
	height: 24px;
}

.clear-field {
	background-color: #f6f7f8;
	font-size: 20px;
}

.clear-field:hover {
	border-color: #29abe2;
	color: #29abe2;
}

.clear-field:hover img {
	display: none;
}

.clear-field:hover .d-none {
	display: block;
}

.clear-field:active {
	border-color: #2a3647;
	color: #2a3647;
}

.clear-field:active img {
	display: block;
}

.clear-field:active .d-none {
	display: none;
}

.create-task {
	background-color: #2a3647;
	color: white;
	font-size: 21px;
	font-weight: 700;
}

.create-task:hover {
	border-color: #29abe2;
	background-color: #29abe2;
}

.create-task:active {
	border-color: #091931;
	background-color: #091931;
}

.required-info {
	font-size: 16px;
	font-weight: 400;
}

.required-info::before {
	content: '*';
	color: red;
}

/* for Javascript */

.add-task-input {
	border-color: #29abe2;
}

@media (max-width: 1250px) {
	input,
	textarea,
	.prio {
		font-size: 18px;
	}

	.prio img {
		width: 19px;
	}

	.create-task {
		font-size: 19px;
	}

	.clear-field {
		font-size: 18px;
	}

	.right-col {
		margin-right: 0;
	}
}

@media (max-width: 1200px) {
	.task-container {
		flex-direction: column;
	}

	.task-col {
		max-width: 880px;
	}

	.mid-line {
		display: none;
	}

	.bottom-section {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 90px;
	}

	.required-info {
		margin-bottom: 16px;
	}
}

@media (max-width: 1000px) {
	.task-col {
		max-width: 100%;
	}

	.left-col,
	.right-col {
		margin-right: 96px;
	}
}

@media (max-width: 500px) {
	.main-content {
		padding-left: 24px;
	}

	.left-col,
	.right-col {
		margin-right: 24px;
	}

	input,
	textarea,
	.prio {
		font-size: 16px;
	}

	.prio img {
		width: 16px;
	}

	.create-task {
		font-size: 17px;
	}

	.clear-field {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	#prio-container {
		flex-direction: column;
	}
}
