.d-none {
	display: none;
}

h1 {
	font-weight: 700;
	font-size: 61px;
	margin-bottom: 48px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: 400;
	font-size: 20px;
}

input {
	font-size: 20px;
}

input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
}

textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	padding: 18px 16px;
	font-size: 20px;
}

.task-container {
	display: flex;
	gap: 48px;
}

.req-label::after {
	content: '*';
	color: red;
}

.task-col {
	max-width: 440px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

/* left section */

.left-col {
	gap: 16px;
}

.input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	padding: 12px 16px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	position: relative;
	cursor: pointer;
}
.input-container input {
	width: 100%;
}

.assigned-to-container img {
	position: absolute;
	right: 16px;
	top: 8px;
}

#title-input,
#assigned-to,
#category,
#subtask {
	border: none;
}

#title-input:focus,
#assigned-to:focus,
#category:focus,
#subtask:focus {
	outline: none;
}

.d-flex-col {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
}

/* mid section */
.mid-line {
	height: 424px;
	border: 0.5px solid #d1d1d1;
}

/* right section */

.right-col {
	gap: 24px;
}

#due-date {
	border: none;
	width: 240px;
}

#due-date:focus {
	outline: none;
}

#prio-container {
	display: flex;
	gap: 16px;
	width: 440px;
}

.prio {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 10px;
	gap: 8px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	flex: 1;
	font-size: 20px;
	cursor: pointer;
}

.prio:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.subtask-plus {
	width: 14px;
	height: 14px;
}

.m-0 {
	margin-bottom: 0;
}

/* button section */

.add-task-btns {
	display: flex;
	gap: 16px;
	justify-content: flex-end;
	margin-top: 122px;
}

button {
	border: 1px solid #2a3647;
	border-radius: 10px;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button img {
	width: 24px;
	height: 24px;
}

.clear-field {
	background-color: #f6f7f8;
	font-size: 20px;
}

.clear-field:hover {
	border-color: #29abe2;
	color: #29abe2;
}

.clear-field:hover img {
	display: none;
}

.clear-field:hover .d-none {
	display: block;
}

.clear-field:active {
	border-color: #2a3647;
	color: #2a3647;
}

.clear-field:active img {
	display: block;
}

.clear-field:active .d-none {
	display: none;
}

.create-task {
	background-color: #2a3647;
	color: white;
	font-size: 21px;
	font-weight: 700;
}

.create-task:hover {
	border-color: #29abe2;
	background-color: #29abe2;
}

.create-task:active {
	border-color: #091931;
	background-color: #091931;
}

.required-info {
	font-size: 16px;
	font-weight: 400;
	margin-top: 207px;
}

.required-info::before {
	content: '*';
	color: red;
}

/* for Javascript */

.add-task-input {
	border-color: #29abe2;
}
