<div class="relativeContainer">
	<div class="headerContainer">
		<div class="joinIconResponsiv">
			<img src="../img/JoinLogoBlack.png">
		</div>
		<div class="headerText">Kanban Project Management Tool</div>
		<div class="headerIcons">
			<div class="helpIcon">
				<a href="../help/help.html"><img src="../img/help.png" class="helpPng" /></a>
			</div>
			<div>
				<div class="circle" onclick="notCloseSidebar(event)">
					<div class="initials">SM</div>
				</div>
				<div  id="submenu">

				</div>
			</div>
			
		</div>
	</div>

	<div class="sidebar">
		<div>
			<img class="joinLogo" src="../img/join_logo.png" />
		</div>
		<div class="menuItems">
			<a href="../summary/summary.html">
				<div class="menuItem">
					<img src="../img/summary_logo.png" class="menuIcons" />
					<span class="menuText">Summary</span>
				</div>
			</a>
			<div class="menuItem">
				<a href="../add_task/add_task.html">
					<div>
						<img src="../img/addTask_logo.png" class="menuIcons" />
						<span class="menuText">Add Task</span>
					</div>
				</a>


			</div>
			<div class="menuItem">
				<img src="../img/board_logo.png" class="menuIcons" />
				<span class="menuText"> Board</span>
			</div>
			<div class="menuItem">
				<img src="../img/contacts_logo.png" class="menuIcons" />
				<span class="menuText">Contacts</span>
			</div>
		</div>
		<div class="menuBottom">
			<div class="menuBottomItem">
				<span class="menuText bluehover"> Privacy Policy</span>
			</div>
			<div class="menuBottomItem">
				<a href="../legalNotice/legalNotice.html" target="_blank"><span class="menuText bluehover"> Legal
						Notice</span></a>
			</div>
		</div>
	</div>
	<div class="sidebarResponsiv" onclick="notCloseSidebar(event)">
		<div class="menuItemsResponsiv">
			<div>
				<a href="../summary/summary.html">
					<div class="menuItemResponsiv">
						<img src="../img/summary_logo.png" class="menuIcons" />
						<span class="menuTextResponsiv">Summary</span>
					</div>
				</a>
			</div>
			
			<div>
				<a href="../add_task/add_task.html">
					<div class="menuItemResponsiv">
						<img src="../img/addTask_logo.png" class="menuIcons" />
						<span class="menuTextResponsiv">Add Task</span>
					</div>
				</a>
			</div>
			<div class="menuItemResponsiv">
				<img src="../img/board_logo.png" class="menuIcons" />
				<span class="menuTextResponsiv"> Board</span>
			</div>
			<div class="menuItemResponsiv">
				<img src="../img/contacts_logo.png" class="menuIcons" />
				<span class="menuTextResponsiv">Contacts</span>
			</div>
		</div>
	</div>
</div>