<div class="relativeContainer">
	<div class="headerContainer">
		<div class="headerText">Kanban Project Management Tool</div>
		<div class="headerIcons">
			<div class="helpIcon">
				<a href="../help/help.html"><img src="../img/help.png" class="helpPng" /></a>
			</div>
			<div class="profilIcon">
				<div class="profilCircle">
					<img src="../img/Ellipse 3.png" />
					<div class="profilName">
						<img src="../img/SM.png" class="smProfil" />
					</div>
				</div>
			</div>
			<div class="circle">
				<div class="initials">SM</div>
			</div>
		</div>
	</div>

	<div class="sidebar">
		<div>
			<img class="joinLogo" src="../img/join_logo.png" />
		</div>
		<div class="menuItems">
			<a href="../summary/summary.html">
				<div class="menuItem">
					<img src="../img/summary_logo.png" class="menuIcons" />
					<span class="menuText">Summary</span>
				</div>
			</a>
			<div class="menuItem">
				<img src="../img/addTask_logo.png" class="menuIcons" />
				<span class="menuText">Add Task</span>
			</div>
			<div class="menuItem">
				<img src="../img/board_logo.png" class="menuIcons" />
				<span class="menuText"> Board</span>
			</div>
			<div class="menuItem">
				<img src="../img/contacts_logo.png" class="menuIcons" />
				<span class="menuText">Contacts</span>
			</div>
		</div>
		<div class="menuBottom">
			<div class="menuBottomItem">
				<span class="menuText bluehover"> Privacy Policy</span>
			</div>
			<div class="menuBottomItem">
				<span class="menuText bluehover"> Legal Notice</span>
			</div>
		</div>
	</div>
</div>
