.main-content {
    background-color:#F6F7F8;
    display: flex;
    justify-content: flex-start;
}

.contactList {
width: 464px;
height: 100vh;
box-shadow: 4px 0px 6px 0px #00000014;
margin-top: -120px;
margin-left: -96px;
display: flex;
justify-content: center;
background-color: white;
}

.addContactsBtnDiv {
width: 456px;
height: 101px;
padding: 22.5px 52px 22.5px 52px;
gap: 10px;
opacity: 0px;
margin-top: 24px;
}

.addContactBtn {
width: 352px;
height: 56px;
top: 22.5px;
left: 52px;
padding: 12px 0px 12px 0px;
gap: 16px;
border-radius: 10px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: #2A3647;
border: 1px solid #2A3647;
cursor: pointer;
}

.addContactBtn:hover {
    background-color: #0C8CE9;
    border: 1px solid #0C8CE9;
}

.addNewContactText {
width: 175px;
height: 25px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 21px;
font-weight: 700;
line-height: 25.2px;
text-align: left;
color:#FFFFFF;
}

.addPersonToListIcon {
width: 29.33px;
height: 20.91px;
margin-top: 4px;
margin-left: 10px;
color: #D9D9D9;


}

.listIniciale {
width: 352px;
height: 58px;
padding: 17px 36px 17px 36px;
gap: 8px;
opacity: 0px;
display: flex;
justify-content: flex-start;
align-items: center;
}

.firstCharacter {
margin-left: 38px;    
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000000;

}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partingLineDiv {
width: 352px;
height: 16px;
padding: 8px 0px 8px 0px;
gap: 10px;
opacity: 0px;

}

.partingLine {
width: 352px;
height: 0px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #D1D1D1;
}

.contactCard {
width: 352px;
height: 78px;
padding: 15px 24px 15px 24px;
gap: 35px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;
background: #FFFFFF;
display: flex;
justify-content: flex-start;
align-items: center;
cursor: pointer;
}

.contactCard:hover {
    width: 352px;
    height: 78px;
    padding: 15px 24px 15px 24px;
    gap: 35px;
    border-radius: 10px;
    opacity: 0px;
    background: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    }

.monogramCircleDiv {
width: 42px;
height: 42px;
gap: 10px;
border-radius: 45px 0px 0px 0px;
opacity: 0px;
background: #FFFFFF;
border: 2px solid #FFFFFF;
}

.monogramCircle {
background-color : #FF7A00;
width: 42px;
height: 42px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}

.mongram {
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
text-align: center;
color: white;
}

.contactDetails {
width: 140px;
height: 48px;
gap: 5px;
opacity: 0px;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
}

.contactName {
width: 121px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.contactMail {
width: 140px;
height: 19px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #007CEE;
}

.scrollbar {
width: 24px;
height: 100%;
left: 432px;
gap: 0px;
opacity: 0px;
}

.arrowUp {
width: 8px;
height: 4px;
top: 20px;
left: 8px;
gap: 0px;
opacity: 0px;
color: #A8A8A8;
cursor: pointer;
}

.arrowDown {
width: 8px;
height: 4px;
top: 908px;
left: 17px;
gap: 0px;
opacity: 0px;
color: #A8A8A8;
cursor: pointer;
}

.scrollLine {
width: 0px;
height: 53px;
top: 77px;
left: 13px;
gap: 0px;
opacity: 0px;
border: 4px solid #A8A8A8;
border-radius: 4px;
cursor: pointer;
}

.arrowUpContainer {
    position: fixed;
    top: 92px;
}

.scrollLineContainer {
    position: fixed;
    top: 115px;
}

.arrowDownContainer {
    position: fixed;
    bottom: 5px;
}

.contactsTitle {
position: fixed;
width: 569px;
height: 73px;
top: 206px;
left: 743px;
gap: 30px;
opacity: 0px;
display: flex;
align-items: center;
}

.title {
width: 274px;
height: 73px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 61px;
font-weight: 700;
line-height: 73.2px;
text-align: left;
}

.blueLine {
width: 0px;
height: 59px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
border: 3px solid #29ABE2;
}

.subtitle {
width: 235px;
height: 32px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 27px;
font-weight: 400;
line-height: 32.4px;
text-align: left;
white-space: nowrap;
}

.contactOverview {
width: 461px;
height: 364px;
position: fixed;
top: 311px;
left: 750px;
gap: 21px;
opacity: 0px;
background-color: #F6F7F8;
}

.nameContainer {
width: 461px;
height: 120px;
gap: 54px;
opacity: 0px;
display: flex;
justify-content: space-between;
align-items: center;
}

.inicialeCircle {
background-color : #FF7A00;
width: 120px;
height: 120px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.inicial {
font-family: Inter;
font-size: 47px;
font-weight: 500;
line-height: 56.4px;
text-align: center;
color: #FFFFFF;
}

.editContactContainer {
width: 287px;
height: 88px;
gap: 8px;
opacity: 0px;
}

.name {
width: 287px;
height: 56px;
gap: 5px;
opacity: 0px;
margin-bottom: 8px;
}

.fullname {
width: 287px;
height: 56px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 47px;
font-weight: 500;
line-height: 56.4px;
text-align: left;
white-space: nowrap;
}

.changeButtonsContainer {
width: 159px;
height: 24px;
gap: 16px;
opacity: 0px;
display: flex;
align-items: center;
justify-content: space-between;
}

.editButtonContainer {
width: 62px;
height: 24px;
gap: 13px;
opacity: 0px;
cursor: pointer; 
display: flex;
}

.editIcon {
width: 18.28px;
height: 18.25px;
gap: 0px;
opacity: 0px;
color: #2A3647;
}

.editIcon:hover {
    width: 18.28px;
    height: 18.25px;
    gap: 0px;
    opacity: 0px;
    background-color: #007CEE;
    }

.editText {
width: 18.28px;
height: 18.25px;
gap: 0px;
opacity: 0px;
color: #2A3647;
}

.editText:hover {
    width: 18.28px;
    height: 18.25px;
    gap: 0px;
    opacity: 0px;
    color: #007CEE;
    }

.deleteButtonContainer {
width: 81px;
height: 24px;
left: 78px;
gap: 8px;
opacity: 0px;
cursor: pointer;
display: flex;
}

.deleteIcon {
width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;
color: #2A3647;
margin-top: -3px;
}

.deleteText {
width: 49px;
height: 19px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color:#2A3647;
}

.deleteText:hover {
width: 49px;
height: 19px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #007CEE;
}

.contactInformationTitle {
width: 207px;
height: 74px;
gap: 59px;
display: flex;
margin-top: 10px;
margin-bottom: 10px;
}

.contactInformation {
width: 207px;
height: 74px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
padding-top: 23px;
color:#2A3647;
}

.accessibility {
width: 140px;
height: 128px;
gap: 22px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: column;
}

.mailDiv {
width: 140px;
height: 53px;
gap: 15px;
display: flex;
align-items:flex-start;
justify-content: space-between;
flex-direction: column;
}

.mailAdressTitel {
width: 43px;
height: 19px;
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19.2px;
text-align: left;
}

.mailAdress{
width: 140px;
height: 19px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: #007CEE;
}

/**add new contact window**/

.addNewContactContainer {
width: 1212px;
height: 592px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 30px;
z-index: 222222;
background-color: white;
display: none;
}

.containerLeft {
width: 467px;
height: 592px;
padding: 66px 48px 66px 48px;
gap: 12px;
background: #2A3647;
border-radius: 30px 0px 0px 30px;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
}

.LogoContainerAddNewContact {
width: 55.6px;
height: 66.48px;
margin-top: -24px;
}

.LogoAddNewContact {
width: 55.6px;
height: 66.48px;
top: 154px;
left: 46.9px;
}

.addNewContactTitle {
width: 371px;
height: 129px;
gap: 16px;
}

.addContactText {
width: 371px;
height: 113px;
gap: 8px;
}

.addContact {
width: 366px;
height: 73px;
font-family: Inter;
font-size: 61px;
font-weight: 700;
line-height: 73.2px;
text-align: left;
color: white;
display: inline-block;
margin-bottom: 12px;
}

.addContactSubtext {
width: 371px;
height: 32px;
font-family: Inter;
font-size: 27px;
font-weight: 400;
line-height: 32.4px;
text-align: left;
color: white;
}

.underLineBlue {
width: 90px;
height: 0px;
border: 3px 0px 0px 0px;
border: 3px solid #29ABE2;
margin-top: 16px;
}

.closeDiv {
width: 32px;
height: 32px;
position: fixed;
top: 48px;
left: 1132px;
padding: 4px 0px 0px 0px;
}

.closeButton {
width: 24px;
height: 24px;
top: 4px;
left: 4px;
gap: 0px;
opacity: 0px;
color: #2A3647;
cursor: pointer;
}

